@use "./fonts";

.container-results {
    font-family: "opensans";
    height: 30em;
    width: 20em;
    background-image: url("../assets/FondoResultadoss.png");
    background-repeat: no-repeat;
    background-size: cover; 
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
    
    .container-countries-and-icons {
    height: 70%;
    width: 80%;
    background-color: #34D7B8;
    border-radius: 5px;
    margin-top: 1em;
    .list-countries {
    list-style: none    ;
    }
    }

    .container-add-countries {
        display: flex;
        flex-direction: column;
        justify-content:flex-start;
        align-items: center;
        height: 20%;
        width: 80%;
        .input-country {
        width: 92%;
        background-color: #34D7B8;
        margin-bottom: 1.2em;
        padding: .7em;
        border-radius: 5px;
        &::placeholder {
            color: rgb(8, 55, 8);
        }

        }
        .add-country-button {
        background-color: #34D7B8;
        cursor: pointer;
        width: 50%;
        border-radius: 5px;
        border: none;
        &:hover {
            background-color: #22927d;  
        }

        }
         
    }
}