@use "./fonts";

.container-results {
  height: 35em;
  width: 20em;
  background-image: url("../assets/FondoResultadoss.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  .container-countries-and-icons {
    height: 60%;
    width: 70%;
    background-color: aquamarine;
    border-radius: 5px;
    margin-top: 2.2em;
    overflow-y: scroll;
    .container-list {
      margin-top: 1em;
    }

    .container-list-country {
      width: 100%;
      display: flex;
      justify-content: space-between;
      list-style: none;
      padding: 0em 1em;
      &:hover {
        background: rgb(182, 176, 176);
      }
    }
  }

  .container-add-countries {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 20%;
    width: 75%;
    .input-country {
      width: 92%;
      font-family: sans-serif;
      background-color: aquamarine;
      margin-bottom: 1.2em;
      padding: 0.7em;
      border-radius: 5px;
      border: none;

      &::placeholder {
        color: rgb(8, 55, 8);
      }
    }
    .add-country-button {
      background-color: aquamarine;
      padding: 0.5em;
      cursor: pointer;
      width: 50%;
      border-radius: 5px;
      font-weight: bold;
      border: none;
      &:hover {
        background-color: #22927d;
      }
    }
  }
  .icon-delete {
    &:hover {
      color: red;
    }
    cursor: pointer;
  }
  .icon-modify {
    position: relative;
    left: 0;
    margin-right: 0.5em;
    cursor: pointer;
  }

  .container-countries-and-icons::-webkit-scrollbar {
    -webkit-appearance: none;
  }

  .container-countries-and-icons::-webkit-scrollbar:vertical {
    width: 10px;
  }

  .container-countries-and-icons::-webkit-scrollbar-button:increment,
  .contenedor::-webkit-scrollbar-button {
    display: none;
  }

  .container-countries-and-icons::-webkit-scrollbar:horizontal {
    height: 10px;
  }

  .container-countries-and-icons::-webkit-scrollbar-thumb {
    background-color: rgba(132, 21, 53, 1);
    border-radius: 20px;
    border: 2px solid #f1f2f3;
  }

  .container-countries-and-icons::-webkit-scrollbar-track {
    border-radius: 10px;
  }
}
