.container-winners {
  font-family: "quatar";

  width: 20em;
  height: 35em;
  background-image: url("../assets/fondo-ganadores.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 65%;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.last-winner {
  border-radius: 5px;
  height: 3em;
  background-color: aquamarine;
  font-size: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 65%;
  color: rgba(132, 21, 53, 1);
  font-weight: bold;
}

.winners-list {
  border-radius: 5px;
  width: 13em;
  height: 20em;
  background-color: aquamarine;
  margin-top: 3em;
  overflow-y: scroll;
}

.winner-country {
  list-style-type: decimal;
  padding: 0.5em;
  margin-left: 1.8em;
  font-weight: bold;
}

.winners-list::-webkit-scrollbar {
  -webkit-appearance: none;
}

.winners-list::-webkit-scrollbar:vertical {
  width: 10px;
}

.winners-list::-webkit-scrollbar-button:increment,
.contenedor::-webkit-scrollbar-button {
  display: none;
}

.winners-list::-webkit-scrollbar:horizontal {
  height: 10px;
}

.winners-list::-webkit-scrollbar-thumb {
  background-color: rgba(132, 21, 53, 1);
  border-radius: 20px;
  border: 2px solid #f1f2f3;
}

.winners-list::-webkit-scrollbar-track {
  border-radius: 10px;
}
