.container-winners {
  width: 20em;
  height: 35em;
  background-image: url("../assets/fondo-ganadores.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 65%;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.last-winner {
  border-radius: 5px;
  width: 13em;
  height: 5em;
  background-color: aquamarine;
}

.winners-list {
  border-radius: 5px;
  width: 13em;
  height: 20em;
  background-color: aquamarine;
  margin-top: 3em;
}
