footer {
  border-radius: 5px;
  width: 90%;
  height: 8em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: white;
  background: rgb(132, 21, 53);
  background: linear-gradient(
    90deg,
    rgba(132, 21, 53, 1) 0%,
    rgba(48, 6, 30, 1) 100%,
    rgba(0, 212, 255, 1) 100%
  );
  margin: 0 auto;
}

#copyright {
  width: 45%;
  margin: 5%;
}

#social-media {
  width: 45%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.icon {
  font-size: 2em;
}
.icon-copy {
  font-size: 1.2em;
}
.fa-brands {
  margin: 5%;
}

.fa-brands:hover {
  transform: translateY(-5px);
  cursor: pointer;
}
