@use "./container1";
@use "./src/sass/header";
@use "./main-content";
@use "./boxResultados.scss";
@use "./fonts";
@use "footer";


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 3em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
    background: rgb(25, 4, 4);

}

.content {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 2em auto;
}
