.wheel {
  width: 35em;
  height: 35em;
  background-color: #ec1550;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.play {
  border-radius: 50%;
}

.img {
  width: 10em;
  height: 10em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icono-play {
  font-size: 5em;
  height: 58%;
  cursor: pointer;
  align-self: center;
  //   justify-self: center;
  &:hover {
    color: #34d7b8;
  }
}

.icon-arrow {
  font-size: 4em;
  justify-self: start;
  // align-self: start;
  //   justify-self: center;
  //   position: relative;
  //   left: 14%;
}
